@import url('https://fonts.googleapis.com/css2?family=Titillium+web:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Titullium web', sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content:center;
}

header{
    
    width: 100%;
    padding: 10px;
}

.logo, .sociais{
    width: 25%;
}

.logo img{
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
}

.menu{
    width: 100%;
}

.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10%;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image:linear-gradient(45deg, red, red);
    position: absolute;
    top: 30px;
    left: 0;
    transition:width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.sociais button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45 deg,red, red);
    border: none;
    margin: right 10px;
    border-radius: 8px;
    cursor: pointer;
}

.sociais button{
    font-size: 20px;
    color: white;
}






body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(assets/imgs/kawhi.jpg);
    background-size: cover;
    color:black;
    background-repeat: no-repeat;
    overflow: hidden;

    
}
#a1{
    text-decoration:none;
    color: black;
}

#login{
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.nome input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:antiquewhite;
    color: black;
    margin-bottom: 15px;
}


.email input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:blanchedalmond;
    color: black;
}

.senha input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:blanchedalmond;
    color: black;
    margin-top: 15px;
}

.entrar input{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: orange;
    color:white;
}

input::placeholder{
    color:black;
}

h1{
    color:antiquewhite;
}
.caixa{
    margin-top: 65px;
}

.caixa img{
    width: 115px;
    border-radius: 20px;
}

input::focus{
    outline: none;
}